<div class="productscontainer">
    <header>
        <p>Productos de la categoría: {{categoria}}</p>
        <div class="search-container">
            <form class="filters">
                <input type="search" id="search">
                <select>
                    <option value="" disabled selected>Categoría</option>
                </select>
            </form>
        </div>
    </header>
    <div class="division"></div>
    <div class="row">
        <div class="column">
            <app-card></app-card>
        </div>
        <div class="column">
            <app-card></app-card>
        </div>
        <div class="column">
            <app-card></app-card>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <app-card></app-card>
        </div>
        <div class="column">
            <app-card></app-card>
        </div>
        <div class="column">
            <app-card></app-card>
        </div>
    </div>
</div>
