<div class="slider">
    <img src="./entrelineas1.jpg" id="img">
    <div class="selector">
        <input type="radio" name="selector" id="st-control-1" onclick="document.getElementById('img').src='./entrelineas1.jpg'" checked>
        <input type="radio" name="selector" id="st-control-2" onclick="document.getElementById('img').src='./entrelineas2.jpg'">
        <input type="radio" name="selector" id="st-control-3" onclick="document.getElementById('img').src='./entrelineas3.jpg'">
    </div>
</div>